*::before,
*::before{
    box-sizing: border-box;
    font-family: 'systm-ul', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}
.container{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), transparent), url('fond.jpg') center center no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
}
nav .logo{
    width: 110px;
    cursor: pointer;
    font-size: 30px;
    font-style: oblique;
    text-decoration: none;
    color: white;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
    text-align: right;
    flex: 1;
    list-style-type: none;
}
nav ul li{
    margin-right: 10px;    
}
nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: White;
    font-size: 16px;
}
button.btn{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
    border-color: transparent;
    transition: border-color .3s;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}
.form-wrapper .card{
    width: 360px;
    padding: 20px;
    background-color: rgb(0 0 0 /35%);
}
.card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 1.1rem;
    color: #94f7e6;
    box-shadow: 2px 3px 7px #d3f7ff71;
    border-radius: 50px;
}
.card-header .form-header{
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}
.card-header .form-header .active{
    box-shadow: inset 1px 1px 2px rgb(19 210 177 / 55%), inset -1px 1px 2px rgb(19 210 177 / 55%), inset -1px -1px 2px rgb(19 210 177 / 55%), 
        inset 1px -1px 2px rgb(19 210 177 / 55%);
}